html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}





/* Navigation bar */
nav.navbar {
    background-color: #f8f9fa; /* Light background color */
}

    nav.navbar i {
        padding: 10px;
        border-radius: 50px;
        font-size: 1.2rem;
        cursor: pointer;
    }

        nav.navbar i:hover, nav.navbar img:hover {
            cursor: pointer;
            background-color: rgba(72, 84, 95, 0.2);
            transform: scale(1.05) translateZ(0px);
        }

nav.navbar {
    margin-left: 290px;
}

/* Profile picture */
img.profilePic {
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

.profile-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgba(248, 249, 250, 0.8); /* Lighter background color */
    padding: 16px 20px;
    border-radius: 12px;
    cursor: pointer;
    margin-bottom: 30px;
}

    .profile-wrapper .titles {
        line-height: 1;
    }
#menu {
    width: 100% !important;
    background-color: inherit;
    overflow: hidden;
}

    #menu .e-menu-item:not(.e-separator) {
        height: 50px;
        border-radius: 4px;
    }

    #menu .e-menu-item {
        box-sizing: border-box;
    }

    #menu .e-menuitem {
        box-sizing: border-box;
    }

    #menu .e-menu-item a {
        width: 100px;
        color: #6c757d; /* Lighter text color */
        font-weight: 300;
        padding: 7px 5px;
        box-sizing: border-box;
    }

    #menu .e-anchor-wrap {
        display: inline-block;
    }

    #menu .e-menu-item.e-separator {
        border: none;
        margin: 5px 5px;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 13px;
        color: #007bff; /* Brighter separator color */
    }

        #menu .e-menu-item.e-separator:not(:first-child) {
            margin-top: 35px;
        }







/* Logo */
.logo-wrapper {
    height: 70px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.app-logo {
    padding: 10px 10px;
}

    .app-logo img {
        max-height: 100%;
        max-width: 100%;
        height: auto;
        width: auto;
    }










/* Sidebar */
#sidebar {
    background-color: #ffffff; /* Light background color */
    border-right: 1px dashed rgba(0, 0, 0, 0.1);
    padding: 10px 20px;
    overflow: hidden;
}

    #sidebar .e-menu-wrapper {
        width: 100%;
        background-color: inherit;
    }

#sidebar-toggler {
    padding: 10px;
    border-radius: 50px;
    font-size: 1.2rem;
    cursor: pointer;
}

    #sidebar-toggler:hover {
        cursor: pointer;
        background-color: rgba(72, 84, 95, 0.2);
        transform: scale(1.05) translateZ(0px);
    }

#sidebar.e-close {
    padding-left: 10px;
    padding-right: 10px;
}

    #sidebar.e-close .app-logo {
        display: none;
    }

    #sidebar.e-close .e-anchor-wrap, #sidebar.e-close .e-menu-item.e-menu-caret-icon {
        font-size: 0px;
    }

    #sidebar.e-close .profile-wrapper .titles {
        display: none !important;
    }

    #sidebar.e-open .e-anchor-wrap, #sidebar.e-close .e-menu-icon, #sidebar.e-open .e-menu-icon {
        visibility: visible;
    }

#sidebar.e-open .profile-wrapper .titles, #sidebar.e-open .app-logo {
    display: flex;
}

#sidebar.e-sidebar.e-right.e-close {
    visibility: visible;
    transform: translateX(0%);
}

#sidebar.e-open #sidebar-toggler:before {
    content: '\f100';
}

#sidebar.e-close #sidebar-toggler:before {
    content: '\f101';
}








body {
    margin-bottom: 60px;
    background-color: #f8f9fa; /* Light background color */
    color: #212529; /* Dark text color */
    overflow: hidden;
}

.e-bigger {
    font-size: x-large;
}

.main-content {
    margin-left: 330px; /* Left margin for the sidebar */
    margin-right: 0; /* Remove any right margin */
    overflow-y: auto; /* Enable vertical scrolling if needed */
    height: 92vh; /* Keep the height consistent */
    width: calc(100% - 290px); /* Adjust the width to occupy the remaining space */
    background-color: #f8f9fa; /* Ensure background consistency */
}













/* Radio button group */
.e-btn-group.custom-rbt-group {
    width: 100%;
}

    .e-btn-group.custom-rbt-group.e-btn {
        width: 50%;
    }

.custom-rbt-group label.e-btn {
    box-shadow: none !important;
    border: 1px solid #000;
    background-color: #ffffff; /* Light background color */
    color: #000; /* Dark text color */
}

.e-btn-group.custom-rbt-group input:checked + label.e-btn {
    background-color: #000; /* Dark background color */
    color: #ffffff; /* Light text color */
    border: 1px solid #000;
}

/* Widget */
.widget {
    border-radius: 1rem;
    background-color: #ffffff; /* Light background color */
}


/* Button */
.btn:focus, .btn:active {
    outline: none !important;
    box-shadow: none;
}

/* Hyperlink */
.no-a-decoration, .no-a-decoration:hover {
    text-decoration: none;
    color: inherit;
}

/* Breadcrumb */
.e-breadcrumb a, .e-breadcrumb a:hover {
    text-decoration: none !important;
    color: inherit !important;
}



/* Container styles */
.container {
    margin-top: 20px;
}

