@model List<syncfusion_grid.Controllers.MappingController.Mapping>
@{
    ViewData["Title"] = "Mapping Grid";
}

<!-- Include jQuery -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<!-- Include Toastr CSS -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet" />

<div class="container">
    <div class="button-container">
        <button id="deleteButton" class="custom-delete-button button-spacing" onclick="deleteSelectedRows()">Delete Selected Rows</button>
        <button id="exportButton" class="custom-export-button button-spacing" onclick="exportToExcel()">Export to Excel</button>
       
    </div>
    

    <ejs-grid id="grid" dataSource="@Model" allowPaging="true" allowSorting="true" allowFiltering="true" allowGrouping="false" cssClass="white-grid">
        <e-grid-pagesettings pageSize="15"></e-grid-pagesettings>
        <e-grid-selectionsettings type="Multiple"></e-grid-selectionsettings>
        <e-grid-columns>
            <e-grid-column type="checkbox" width="50"></e-grid-column>
            
            <e-grid-column field="GL_ACCT_CAT_CD" headerText="GL Account Category Code" textAlign="Right" width="200"></e-grid-column>
            <e-grid-column field="REF_CD" headerText="Reference Code" textAlign="Right" width="200"></e-grid-column>
            <e-grid-column field="DESCRIPTION" headerText="Description" textAlign="Right" width="500"></e-grid-column>
            <e-grid-column field="SYS_CREATE_TS" headerText="System Create Timestamp" textAlign="Right" width="120" format="yMd"></e-grid-column>
            <e-grid-column field="CREATED_BY" headerText="Created By" textAlign="Right" width="150"></e-grid-column>
            <e-grid-column field="GL_ACCT_ID" headerText="GL Account ID" textAlign="Right" width="150"></e-grid-column>
            <e-grid-column field="GL_ACCT_NO" headerText="GL Account No" textAlign="Right" width="350"></e-grid-column>
            <e-grid-column field="LEDGER_NO" headerText="Ledger No" textAlign="Right" width="150"></e-grid-column>
            <e-grid-column field="ACCT_DESC" headerText="Account Description" textAlign="Right" width="350"></e-grid-column>
            <e-grid-column field="BAL_CD" headerText="Balance Code" textAlign="Right" width="150"></e-grid-column>
        </e-grid-columns>
    </ejs-grid>
</div>

<style>
    .container {
        margin: 20px; /* Margin around the container */
        padding: 20px; /* Padding inside the container */
        border: 1px solid #ddd; /* Optional: border for the container */
        border-radius: 8px; /* Rounded corners for the container */
        background-color: #f8f9fa; /* Light grey background for the container */
    }

    /* Define the white-grid class */
    .white-grid {
        background-color: white !important; /* Set the background color to white */
        color: black; /* Set the text color to black */
    }

        /* Style the header */
        .white-grid .e-gridheader {
            background-color: white !important; /* Set the header background color to white */
            color: aquamarine; /* Set the header text color to black */
            border-bottom: 1px solid #dee2e6; /* Add a border at the bottom of the header */
        }

        /* Style the rows */
        .white-grid .e-gridcontent .e-rowcell {
            background-color: white; /* Set the row cell background color to white */
            color: #6c757d !important; /* Set the row cell text color to #6c757d */
            border-bottom: 1px solid #dee2e6; /* Add a border at the bottom of each row */
            border: none;
        }
        /* Style the rows on hover */
        .white-grid .e-gridcontent .e-row:hover .e-rowcell {
            background-color: lightgray !important;
            color: aquamarine !important; /* Set the row cell text color to aquamarine on hover */
        }

        /* Style the pager */
        .white-grid .e-gridpager {
            background-color: white; /* Set the pager background color to white */
            color: black; /* Set the pager text color to black */
            border-top: 1px solid #dee2e6; /* Add a border at the top of the pager */
        }

        /* Style the filter row */
        .white-grid .e-filterbarcell {
            background-color: white !important; /* Set the filter row background color to white */
            color: black !important; /* Set the filter row text color to black */
            border-bottom: 1px solid #dee2e6; /* Add a border at the bottom of the filter row */
        }

            /* Style the filter input */
            .white-grid .e-filterbarcell input {
                background-color: white; /* Set the filter input background color to white */
                color: #6c757d !important; /* Set the filter input text color to #6c757d */
                border: 1px solid #ced4da; /* Add a border to the filter input */
            }

            /* Style the filter dropdown */
            .white-grid .e-filterbarcell .e-dropdownlist {
                background-color: white !important; /* Set the filter dropdown background color to white */
                color: #6c757d; /* Set the filter dropdown text color to #6c757d */
                border: 1px solid #ced4da; /* Add a border to the filter dropdown */
            }

                /* Style the filter dropdown options */
                .white-grid .e-filterbarcell .e-dropdownlist .e-list-item {
                    background-color: white; /* Set the filter dropdown option background color to white */
                    color: #6c757d; /* Set the filter dropdown option text color to #6c757d */
                }

                    /* Style the filter dropdown options on hover */
                    .white-grid .e-filterbarcell .e-dropdownlist .e-list-item:hover {
                        background-color: hotpink !important; /* Set the filter dropdown option background color on hover */
                        color: aquamarine !important; /* Set the filter dropdown option text color on hover */
                    }

                    /* Style the filter dropdown options on focus */
                    .white-grid .e-filterbarcell .e-dropdownlist .e-list-item.e-active {
                        background-color: #e9ecef; /* Set the filter dropdown option background color on focus */
                        color: #6c757d; /* Set the filter dropdown option text color on focus */
                    }

    .button-container {
        display: flex; /* Use Flexbox */
        justify-content: center; /* Center horizontally */
        align-items: center; /* Center vertically */
        margin-bottom: 20px; /* Add space below the button */
    }

    .button-spacing {
        margin: 0 10px; /* Add horizontal margin to create space between buttons */
    }

    .custom-delete-button {
        background-color: #d9534f; /* Red background color */
        color: white; /* White text color */
        border: none; /* No border */
        padding: 10px 20px; /* Padding for spacing */
        font-size: 16px; /* Font size */
        border-radius: 5px; /* Rounded corners */
        cursor: pointer; /* Pointer cursor on hover */
        transition: background-color 0.3s ease; /* Smooth transition effect */
    }

        .custom-delete-button:hover {
            background-color: lightgreen; /* Darker red on hover */
            color: darkcyan;
        }

    .custom-export-button {
        background-color: greenyellow; /* Red background color */
        color: darkgoldenrod; /* White text color */
        border: none; /* No border */
        padding: 10px 20px; /* Padding for spacing */
        font-size: 16px; /* Font size */
        border-radius: 5px; /* Rounded corners */
        cursor: pointer; /* Pointer cursor on hover */
        transition: background-color 0.3s ease; /* Smooth transition effect */
    }

        .custom-export-button:hover {
            background-color: lightgreen; /* Darker red on hover */
            color: darkcyan;
        }

    
</style>




<!-- Include Toastr JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

<script>
    // Function to delete selected rows
    function deleteSelectedRows() {
        console.log('Delete Selected Rows button clicked');
        var grid = document.getElementById('grid').ej2_instances[0];
        var selectedRows = grid.getSelectedRecords();

        if (selectedRows.length === 0) {
            alert('Please select at least one row to delete.');
            return;
        }

        var mappingIds = selectedRows.map(row => row.MAPPING_ID); // Assuming MAPPING_ID is the unique identifier

        fetch('/Mapping/DeleteMappings', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(mappingIds)
        }).then(response => {
            if (!response.ok) {
                throw new Error('Network response was not ok');
            }
            return response.json();
        }).then(data => {
            if (data.error) {
                console.log('Error:', data.error);
                showToast('error', 'Error', data.error);
            } else {
                console.log('Success:', data.message);
                showToast('success', 'Success', 'Selected rows deleted successfully.');
                // Delay the page reload to allow the toast notification to show
                setTimeout(function () {
                    window.location.reload();
                }, 1000); // 1000 milliseconds (1 second) delay
            }
        }).catch(error => {
            console.error('Error:', error);
            showToast('error', 'Error', 'An error occurred while deleting the rows.');
        });
    }

    // Function to show a toast notification
    function showToast(type, title, message) {
        console.log('Showing toast:', type, title, message);
        toastr[type](message, title);
    }

    // function to convert grid to exell 

    function exportToExcel() {
        window.location.href = '@Url.Action("ExportToExcel", "Mapping")';
    }
    // toastr for exell 
    function exportToExcel() {
        $.ajax({
            url: '@Url.Action("ExportToExcel", "Mapping")',
            type: 'POST',
            success: function (data) {
                if (data.error) {
                    toastr.error(data.error);
                } else {
                    toastr.success("Export successful!");
                    // Optionally, trigger the download
                    window.location.href = '@Url.Action("ExportToExcel", "Mapping")';
                }
            },
            error: function () {
                toastr.error("An error occurred while exporting to Excel.");
            }
        });
    }
   

    // Initialize Toastr
    $(document).ready(function () {
        toastr.options = {
            "closeButton": true,
            "debug": false,
            "newestOnTop": false,
            "progressBar": true,
            "positionClass": "toast-top-right",
            "preventDuplicates": false,
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "5000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        };
    });
</script>